h4 {
  text-align: left;
  text-decoration: underline;
}

h1 {
  text-decoration: underline;
}

.marker {
  background-image: url("./images/lostpaw.png");
  background-size: cover;
  width: 43px;
  height: 59px;
  border-radius: 0%;
  cursor: pointer;
}

.sighting-marker {
  background-image: url("./images/sighting.png");
  background-size: cover;
  width: 42px;
  height: 59px;
  border-radius: 0%;
  cursor: pointer;
}

.lostpop {
  text-align: center;
  border: 2px solid #f2711c !important;
}

.sightingpop {
  text-align: center;
  border: 2px solid #2185d0 !important;
}

.poster {
  text-align: center;
}

.postername {
  text-decoration: underline;
  font-weight: bold;
}

.sightingname {
  text-align: left;
  text-decoration: underline;
  font-weight: bold;
}

.geobutton {
  width: 30px;
}

.lostform {
  border: 2px solid #f2711c !important;
}

.sightingform {
  border: 2px solid #2185d0 !important;
}
